* {
    font-family: Tahoma
}

body {
    margin: 5em 10em 5em 10em;
    background-image: url(books.png);
    background-repeat: repeat-y
}

p {
    text-align: justify
}

.cena {
    color: red;
    font-style: italic
}

li {
    list-style-type: square
}

.wstęp {
    font-style: italic
}

td img {
    border-style: solid;
    border-color: blue
}

td img:hover {
    border-style: solid;
    border-color: red
}

h1+h2 {
    letter-spacing: 5px
}

td[colspan="2"] p {
	font-size: small;
}

p+p {
    color: gray
}