<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/Name.cshtml" method="post">
        Name:
        <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
